.all-contents {
    width: 1200px;
    margin: 0 auto;
    padding: 30px;
    font-family: Inter, sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.left-contents {
    flex: 1 1 40%;
    max-width: 50%;
}

.right-contents {
    flex: 1 1 55%;
    max-width: 50%;
}

.items-image img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
.favorite-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #ccc;
    padding: 10px;
}

.fukidashi {
    position: relative;
    display: grid;
    place-items: center;
    width: 30px;
    height: 30px;
    border: 2px solid #333;
    border-radius: 50%;
    margin: 10px;
}
.fukidashi::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 58%;
    width: 15px;
    height: 15px;
    transform: rotate(135deg);
    box-sizing: border-box;
    background-color: #fff;
}

.fukidashi::after {
    content: "";
    position: absolute;
    top: calc(100% + 5px);
    left: 70%;
    width: 20px;
    height: 2px;
    transform: rotate(50deg);
    box-sizing: border-box;
    background-color: #333;
    box-sizing: 0 2px 0 #fff, 0 -2px 0 #fff;
}

.profile-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    display: inline-block;
    background-color: #d9d9d9;
    text-decoration: none;
}
