.all-contents {
    width: 1200px;
    margin: 0 auto;
    padding: 30px;
    font-family: Inter, sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.left-contents {
    flex: 1 1 40%;
    max-width: 50%;
}

.right-contents {
    flex: 1 1 55%;
    max-width: 50%;
}

.items-image img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.item-info {
    margin-bottom: 30px;
}

.item-name {
    font-size: 45px;
    margin-bottom: 10px;
}

.item-price {
    font-size: 30px;
}

.favorite-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #ccc;
    padding: 10px;
}

.fukidashi {
    position: relative;
    padding: 20px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
    letter-spacing: 0.2em;
    font-size: 7px;
    background-color: #ff9800;
}
.fukidashi::before {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: 2px;
    bottom: 2px;
    border-right: 20px solid #ff9800;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    transform: rotate(-45deg);
}
.profile-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    display: inline-block;
    background-color: #d9d9d9;
    text-decoration: none;
}
